@model Models.InputBukkenShousaiModel

@{
    ViewBag.Title = "Entry";
}

@Styles.Render("~/Content/InputBukkenShousai.css")

<h4 class="page-title">物件詳細登録</h4>
<div id="main" class="main-content">
    <div class="wrap-container">
        <div id="leftWrap1stPage">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title pk">物件番号</label>
                </div>
                <div class="col-sm-8 form-inline">
                    <input type="text" class="form-control size8" disabled maxlength="8" id="BukkenNO" name="BukkenNO" value="@Model.BukkenNO" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title require">担当支店</label>
                </div>
                <div class="col-sm-8 form-inline">
                    @Html.DropDownListFor(
                    model => model.TantouSitenCD,
                    new SelectList(Model.TantouSitenDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control size39" })
                    <button type="button" id="btnSet" class="btn btn_search" nofocus>セット</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title require">物件名</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control size16" required maxlength="16" id="BukkenName" name="BukkenName" value="@Model.BukkenName" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">住所</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control size50" maxlength="50" id="Juusho" name="Juusho" value="@Model.Juusho" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title require">工務店</label>
                </div>
                @*<div class="col-sm-8">
                        <select class="form-control size50" id="KoumutenName" name="KoumutenName">
                            <option></option>
                        </select>
                    </div>*@
                <div class="col-sm-8">
                    <div class="dropdown">
                        <input type="text" class="form-control dropdown-toggle size50" data-toggle="dropdown" maxlength="50"
                               id="KoumutenName" name="KoumutenName" autocomplete="off" value="@Model.KoumutenName" />
                        <ul class="dropdown-menu" aria-labelledby="KoumutenName"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title require">加工坪数</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control size6" maxlength="6" id="KakouTubosuu" name="KakouTubosuu" value="@Model.KakouTubosuu" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title require">納期</label>
                </div>
                <div class="col-sm-8 form-inline">
                    <input type="checkbox" id="NoukiMiteiKBN" name="NoukiMiteiKBN" data-dbvalue="@Model.NoukiMiteiKBN" />
                    <label for="NoukiMiteiKBN">&nbsp;未定</label>
                    <input type="text" class="form-control size10" maxlength="10" id="Nouki" name="Nouki" value="@Model.Nouki" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">運送会社倉庫入日</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control size10" maxlength="10" id="UnsouKuraireDate" name="UnsouKuraireDate" value="@Model.UnsouKuraireDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">区分</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(
                    model => model.KubunCD,
                    new SelectList(Model.KubunDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control size50" })
                </div>
            </div>
        </div>
        <div id="rightWrap1stPage">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="TantouEigyouCD" class="col-form-label label-title require">担当営業マン</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(
                    model => model.TantouEigyouCD,
                    new SelectList(Model.TantouEigyouDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control size50" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">担当PCサポート</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(
                    model => model.TantouPcCD,
                    new SelectList(Model.TantouPcDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control size50" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">担当CADマン</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(
                    model => model.TantouCadCD,
                    new SelectList(Model.TantouCadDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control size50" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="TantouEigyouCD" class="col-form-label label-title">入力先</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(
                    model => model.NyuuryokusakiCD,
                    new SelectList(Model.NyuuryokusakiDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control size50" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">特注材有無</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(
                    model => model.TokuchuuzaiUmu,
                    new SelectList(Model.TokuchuuzaiUmuDropDownListItems, "Value", "DisplayText"),
                    new { @class = "form-control size6" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">材料納期</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control size10" maxlength="10" id="ZairyouNouki" name="ZairyouNouki" value="@Model.ZairyouNouki" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label label-title">特注材コメント</label>
                </div>
                <div class="col-sm-8">
                    <textarea class="form-control size50" rows="6" maxlength="300" id="TokuchuuzaiComment" name="TokuchuuzaiComment">@Model.TokuchuuzaiComment</textarea>
                </div>
            </div>
        </div>
    </div>
    @*--------------------------------------------------*@
    <hr />
    <div class="wrap-container">
        <div id="leftWrap2ndPage">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title require">受注日</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size10" maxlength="10" id="JuchuuDate" name="JuchuuDate" value="@Model.JuchuuDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">伏図提出(予定)日</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size10" maxlength="10" id="FusezuTeishutuDate" name="FusezuTeishutuDate" value="@Model.FusezuTeishutuDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">加工承認日</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size10" maxlength="10" id="KakouShouninDate" name="KakouShouninDate" value="@Model.KakouShouninDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">木出し日</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size10" maxlength="10" id="KidasiDate" name="KidasiDate" value="@Model.KidasiDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">加工指示書発行日</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size10" maxlength="10" id="KakousijishoHakkouDate" name="KakousijishoHakkouDate" value="@Model.KakousijishoHakkouDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">完納日</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size10" maxlength="10" id="KannouDate" name="KannouDate" value="@Model.KannouDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">キャンセル日</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size10" maxlength="10" id="CancelDate" name="CancelDate" value="@Model.CancelDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">加工日数</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size3" maxlength="3" id="KakouNissuu" name="KakouNissuu" value="@Model.KakouNissuu" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-form-label label-title">最終更新日時</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control size19" disabled maxlength="19" id="UpdateDatetime" name="UpdateDatetime" value="@Model.UpdateDatetime" />
                </div>
            </div>
        </div>
        <div id="rightWrap2ndPage">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title">金物</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(
                    model => model.KanamonoCD,
                    new SelectList(Model.KanamonoDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control size10" })
                </div>
            </div>
            <div class="form-group row blankline">
                <div class="col-sm-12">
                    <label class="col-form-label"></label>
                </div>
            </div>
            <div class="form-group row blankline">
                <div class="col-sm-12">
                    <label class="col-form-label"></label>
                </div>
            </div>
            <div class="form-group row blankline">
                <div class="col-sm-12">
                    <label class="col-form-label"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title require">横架材</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.OukazaiKakou, 
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"), 
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="OukazaiSumi" name="OukazaiSumi" data-dbvalue="@Model.OukazaiSumi" />
                    <label for="OukazaiSumi">&nbsp;済</label>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label label-title require ">壁</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.KabeKakou, 
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"),
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="KabeSumi" name="KabeSumi" data-dbvalue="@Model.KabeSumi" />
                    <label for="KabeSumi">&nbsp;済</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title require">柱材</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.HasirazaiKakou,
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"),
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="HasirazaiSumi" name="HasirazaiSumi" data-dbvalue="@Model.HasirazaiSumi" />
                    <label for="HasirazaiSumi">&nbsp;済</label>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <label class="col-form-label label-title require ">火打</label>
                    </a>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.HiuchiKakou,
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"),
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="HiuchiSumi" name="HiuchiSumi" data-dbvalue="@Model.HiuchiSumi" />
                    <label for="HiuchiSumi">&nbsp;済</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title require">羽柄材</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.HagarazaiKakou,
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"),
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="HagarazaiSumi" name="HagarazaiSumi" data-dbvalue="@Model.HagarazaiSumi" />
                    <label for="HagarazaiSumi">&nbsp;済</label>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="float-right form-inline">
                        <input type="text" class="form-control size3" id="HagarazaiSuu" name="HagarazaiSuu" value="@Model.HagarazaiSuu" />
                        <span>&nbsp;本</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title require">床</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.YukaKakou,
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"),
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="YukaSumi" name="YukaSumi" data-dbvalue="@Model.YukaSumi" />
                    <label for="YukaSumi">&nbsp;済</label>
                </div>
                <div class="col-sm-6 clearfix">
                    @Html.DropDownListFor(
                    model => model.YukaGouhanShurui,
                    new SelectList(Model.GouhanDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control float-left size34" })
                    <div class="float-right form-inline">
                        <input type="text" class="form-control size3" maxlength="3" id="YukaGouhanSuu" name="YukaGouhanSuu" value="@Model.YukaGouhanSuu" />
                        <span>&nbsp;枚</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title require">野地</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.NoziKakou,
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"),
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="NoziSumi" name="NoziSumi" data-dbvalue="@Model.NoziSumi" />
                    <label for="NoziSumi">&nbsp;済</label>
                </div>
                <div class="col-sm-6 clearfix">
                    @Html.DropDownListFor(
                    model => model.NoziGouhanShurui,
                    new SelectList(Model.GouhanDropDownListItems, "Value", "DisplayText"),
                    "",
                    new { @class = "form-control float-left size34" })
                    <div class="float-right form-inline">
                        <input type="text" class="form-control size3" maxlength="3" id="NoziGouhanSuu" name="NoziGouhanSuu" value="@Model.NoziGouhanSuu" />
                        <span>&nbsp;枚</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title">手加工</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model =>model.TekakouKakou, 
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"), 
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="TekakouSumi" name="TekakouSumi" data-dbvalue="@Model.TekakouSumi" />
                    <label for="TekakouSumi">&nbsp;済</label>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label label-title">フンデガー</label>
                </div>
                <div class="col-sm-3 form-inline">
                    @Html.DropDownListFor(
                    model => model.HundeggerKakou, 
                    new SelectList(Model.WithOrWithoutDropDownListItems, "Value", "DisplayText"), 
                    new { @class = "form-control size2" })
                    <input type="checkbox" id="HundeggerSumi" name="HundeggerSumi" data-dbvalue="@Model.HundeggerSumi" />
                    <label for="HundeggerSumi">&nbsp;済</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <a href="#">
                        <label class="col-form-label label-title">手加工推定時間</label>
                    </a>
                </div>
                <div class="col-sm-3 form-inline">
                    <input type="text" class="form-control size5" maxlength="5" id="TekakouTime" name="TekakouTime" value="@Model.TekakouTime" />
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label label-title">フンデガー推定時間</label>
                </div>
                <div class="col-sm-3 form-inline">
                    <input type="text" class="form-control size5" maxlength="5" id="HundeggerTime" name="HundeggerTime" value="@Model.HundeggerTime" />
                </div>
            </div>
        </div>
    </div>
    @*--------------------------------------------------*@
    <hr />
    <div class="form-group row clearfix">
        <div class="col-sm-12">
            <button type="button" id="btnUpload" class="btn btn-secondary" nofocus>アップロード</button>
            <button type="button" id="btnDownload" class="btn btn-secondary float-right" nofocus>ダウンロード</button>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">今回添付ファイル</label>
        </div>
        <div class="col-sm-10">
            <div class="custom-control custom-radio">
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption1" name="UpFileOption" type="radio" value="1" />
                        指示書・加工データ
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption2" name="UpFileOption" type="radio" value="2" />
                        物件データ
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption3" name="UpFileOption" type="radio" value="3" />
                        現地案内指示書・地図
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption4" name="UpFileOption" type="radio" value="4" />
                        木出し
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption5" name="UpFileOption" type="radio" value="5" />
                        金物
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption6" name="UpFileOption" type="radio" value="6" />
                        最終CSV
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption7" name="UpFileOption" type="radio" value="7" />
                        レビュー
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="UpFileOption8" name="UpFileOption" type="radio" value="8" checked />
                        今回添付無し
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            <div class="dragDrop-wrap">
                <div id="dragDropArea">
                    <p>ここにファイルをドロップしてアップロードしてください<br>または</p>
                    <div class="dragDrop-buttons">
                        <input type="file" name="inputFile" id="inputFile" nofocus>
                        <div id="btnInputFile"><span>ファイルを選択する</span></div>
                    </div>
                    <div id="fileMsg">アップロードが完了しました</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">添付済ファイル</label>
        </div>
        <div class="col-sm-10">
            <div class="custom-control custom-radio">
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption1" name="DownFileOption" type="radio" value="1" />
                        指示書・加工データ
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption2" name="DownFileOption" type="radio" value="2" />
                        物件データ
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption3" name="DownFileOption" type="radio" value="3" />
                        現地案内指示書・地図
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption4" name="DownFileOption" type="radio" value="4" />
                        木出し
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption5" name="DownFileOption" type="radio" value="5" />
                        金物
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption6" name="DownFileOption" type="radio" value="6" />
                        最終CSV
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption7" name="DownFileOption" type="radio" value="7" />
                        レビュー
                    </label>
                </div>
                <div class="radioWrap">
                    <label class="label-custom-radio">
                        <input id="DownFileOption8" name="DownFileOption" type="radio" value="8" checked />
                        全て
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            <table class='table table-bordered' id="tblUploadesFileList">
                <thead>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    @*--------------------------------------------------*@
    <hr />
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">コメント</label>
        </div>
        <div class="col-sm-10">
            <input type="text" class="form-control size100" maxlength="100" id="BukkenComment" name="BukkenComment" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">コメント履歴</label>
        </div>
        <div class="col-sm-10">
            <table class='table table-bordered' id="tblBukkenCommentList">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="hidden-area">
        <input type="text" hidden id="HiddenUpdateDatetime" name="HiddenUpdateDatetime" value="@Model.HiddenUpdateDatetime" />
    </div>
    <div class="form-group row">
        <div class="main-content-footer mx-auto">
            <button type="button" id="btnKakousiji" class="btn btn-info">加工指示</button>
            <button type="button" id="btnShoudakusho" class="btn btn-info">加工承諾書</button>
            <button type="button" id="btnJissekiNippou" class="btn btn-info">ﾌﾟﾚｶｯﾄ実績日報</button>
            <button type="button" id="btnReturn" class="btn btn-secondary" nofocus>戻る</button>
            <button type="button" id="btnSave" class="btn btn-primary active">登録</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var url_homePage = '@Url.Action("Index", "Home")';
        var url_previousPage = '@Html.Raw(ViewBag.PreviousUrl)';
        var url_getBukkenNO = '@Url.Action("GetBukkenNO", "api/InputBukkenShousaiApi")';
        var url_getKoumutenListItems = '@Url.Action("GetKoumutenDropDownListItems", "api/InputBukkenShousaiApi")';
        var url_getTantouEigyouListItems = '@Url.Action("GetTantouEigyouDropDownListItems", "api/InputBukkenShousaiApi")';
        var url_getFileList = '';
        var url_getCommentList = '';
        var url_SaveData = '@Url.Action("SaveData", "api/InputBukkenShousaiApi")';
        var url_uploadFiles = '@Url.Action("UploadMultipleFiles", "api/InputBukkenShousaiApi")';
        var eMode = '@Model.Mode';
        var formData = new FormData();
        var fileCount = 0;

        var btnSave = $('#btnSave')
        var btnSet = $('#btnSet');
        var txtBukkenNO = $('#BukkenNO');
        var txtBukkenName = $('#BukkenName');
        var txtSitenCD = $('#TantouSitenCD');
        var ddlTantouEigyou = $('#TantouEigyouCD');
        var chkNoukiMitei = $('#NoukiMiteiKBN');
        var txtNouki = $('#Nouki');

        //------------------------------
        function addEvents() {
            $('#btnReturn').click(function () {
                showConfirmMessage("Q003", function () {
                    if (eMode == 'New') {
                        location.href = url_homePage;
                    }
                    else {
                        location.href = url_previousPage;
                    }
                });
            });

            btnSave.click(function () {
                if (checkErrorOnSave('#main') && checkBukkenNO()) {
                    showConfirmMessage(eMode == 'Delete' ? 'Q102' : 'Q101', function () {
                        btnSaveClick();
                    });
                }
            });

            btnSet.click(function () {
                getNewBukkenNO();
            });

            txtSitenCD.change(function () {
                var key = $(this).val();
                setDropDownList('#TantouEigyouCD', url_getTantouEigyouListItems, key);
                //setDropDownList('#KoumutenName', url_getKoumutenListItems, key);
                setAutocomplete('ul[aria-labelledby="KoumutenName"]', url_getKoumutenListItems, key);
            });

            chkNoukiMitei.change(function () {
                var checked = $(this).is(':checked');
                txtNouki.prop('disabled', checked);
                if (checked) {
                    txtNouki.val("");
                }
            });

            $('input[name="UpFileOption"]:radio').change(function () {
                var val = $(this).val();
                if (!val || val == "8") {
                    $('#dragDropArea').hide();
                    $('#btnUpload').prop('disabled', true);
                }
                else {
                    $('#dragDropArea').show();
                    $('#btnUpload').prop('disabled', false);
                }
                clearFileInfo();
            });

            $('#btnUpload').click(function () {
                if (!checkBukkenNO()) return;

                formData.append('BukkenNO', txtBukkenNO.val());
                formData.append('BukkenFileShurui', $('input[name="UpFileOption"]:radio:checked').val());

                sendMultipleFileToServer(url_uploadFiles, formData, function (result) {
                    if (!result) return;
                    if (result.MessageID) {
                        showMessage(result);
                        return;
                    }
                    clearFileInfo();
                    $('#fileMsg').show();
                });
            });
        }

        function addValidate() {
            setRequired('#TantouSitenCD');
            setRequired('#BukkenName');
            setRequired('#KoumutenName');
            setRequired('#KakouTubosuu');
            setRequired('#Nouki');
            setRequired('#TantouEigyouCD');
            setRequired('#JuchuuDate');

            setDateTypeValidate('#Nouki')
            setDateTypeValidate('#UnsouKuraireDate')
            setDateTypeValidate('#ZairyouNouki')
            setDateTypeValidate('#JuchuuDate')
            setDateTypeValidate('#FusezuTeishutuDate')
            setDateTypeValidate('#KakouShouninDate')
            setDateTypeValidate('#KidasiDate')
            setDateTypeValidate('#KakousijishoHakkouDate')
            setDateTypeValidate('#KannouDate')
            setDateTypeValidate('#CancelDate')

            setDoubleByteValidate('#BukkenName', true);
            setDoubleByteValidate('#Juusho');
            setDoubleByteValidate('#TokuchuuzaiComment');
            setDoubleByteValidate('#BukkenComment');

            setNumericValidate('#KakouTubosuu', 3, 2)
            setNumericValidate('#KakouNissuu', 3, 0);
            setNumericValidate('#HagarazaiSuu', 3, 0);
            setNumericValidate('#YukaGouhanSuu', 3, 0);
            setNumericValidate('#NoziGouhanSuu', 3, 0);
            setNumericValidate('#TekakouTime', 3, 1);
            setNumericValidate('#HundeggerTime', 3, 1);
            //
            $('#tblUploadesFileList').data('request-url', url_getFileList);
            $('#tblBukkenCommentList').data('request-url', url_getCommentList);
        }

        function setScreen() {
            //Set the value of the checkbox
            $('input[type=checkbox]').each(function () {
                $(this).prop('checked', $(this).data('dbvalue') == "1").change();
            });

            //Turn off the file upload function.
            $('#dragDropArea').hide();
            $('#btnUpload').prop('disabled', true);

            if (eMode != 'New') {
                btnSet.hide();
            }
            if (eMode == 'Edit') {
                setAutocomplete('ul[aria-labelledby="KoumutenName"]', url_getKoumutenListItems, txtSitenCD.val());
            }
            if (eMode == 'Delete') {
                setDisabledAll('#main');
                btnSave.text('削除');
            }
        }

        function getNewBukkenNO() {

            if (txtBukkenNO.val() != "") {
                txtBukkenName.focus();
                return;
            }

            if (txtSitenCD.val() == "") {
                txtSitenCD.focus();
                return;
            }

            var ret = calltoApiController(url_getBukkenNO, txtSitenCD.val());
            if (!ret) {
                return;
            }
            if (ret.MessageID) {
                showMessage(ret);
                return;
            }
            if (ret.NewBukkenNO) {
                txtBukkenNO.val(ret.NewBukkenNO);
                txtBukkenName.focus();
            }
        }

        function checkBukkenNO() {
            if (txtBukkenNO.val() == "") {
                txtSitenCD.focus();
                showMessage('E288', function () { txtSitenCD.focus(); });
                return false;
            }
            return true;
        }

        function btnSaveClick() {
            var model = {
                Mode: eMode,
                BukkenNO: txtBukkenNO.val(),
                TantouSitenCD: txtSitenCD.val(),
                BukkenName: txtBukkenName.val(),
                Juusho: $('#Juusho').val(),
                KoumutenName: $('#KoumutenName').val(),
                KakouTubosuu: $('#KakouTubosuu').val(),
                NoukiMiteiKBN: chkNoukiMitei.is(':checked') ? 1 : 0,
                Nouki: txtNouki.val(),
                UnsouKuraireDate: $('#UnsouKuraireDate').val(),
                KubunCD: $('#KubunCD').val(),
                TantouEigyouCD: ddlTantouEigyou.val(),
                TantouPcCD: $('#TantouPcCD').val(),
                TantouCadCD: $('#TantouCadCD').val(),
                NyuuryokusakiCD: $('#NyuuryokusakiCD').val(),
                TokuchuuzaiUmu: $('#TokuchuuzaiUmu').val(),
                ZairyouNouki: $('#ZairyouNouki').val(),
                TokuchuuzaiComment: $('#TokuchuuzaiComment').val(),
                //Page 2.
                JuchuuDate: $('#JuchuuDate').val(),
                FusezuTeishutuDate: $('#FusezuTeishutuDate').val(),
                KakouShouninDate: $('#KakouShouninDate').val(),
                KidasiDate: $('#KidasiDate').val(),
                KakousijishoHakkouDate: $('#KakousijishoHakkouDate').val(),
                KannouDate: $('#KannouDate').val(),
                CancelDate: $('#CancelDate').val(),
                KakouNissuu: $('#KakouNissuu').val(),
                UpdateDatetime: $('#UpdateDatetime').val(),
                KanamonoCD: $('#KanamonoCD').val(),
                OukazaiKakou: $('#OukazaiKakou').val(),
                OukazaiSumi: $('#OukazaiSumi').is(':checked') ? 1 : 0,
                KabeKakou: $('#KabeKakou').val(),
                KabeSumi: $('#KabeSumi').is(':checked') ? 1 : 0,
                HasirazaiKakou: $('#HasirazaiKakou').val(),
                HasirazaiSumi: $('#HasirazaiSumi').is(':checked') ? 1 : 0,
                HiuchiKakou: $('#HiuchiKakou').val(),
                HiuchiSumi: $('#HiuchiSumi').is(':checked') ? 1 : 0,
                HagarazaiKakou: $('#HagarazaiKakou').val(),
                HagarazaiSumi: $('#HagarazaiSumi').is(':checked') ? 1 : 0,
                HagarazaiSuu: $('#HagarazaiSuu').val(),
                YukaKakou: $('#YukaKakou').val(),
                YukaSumi: $('#YukaSumi').is(':checked') ? 1 : 0,
                YukaGouhanShurui: $('#YukaGouhanShurui').val(),
                YukaGouhanSuu: $('#YukaGouhanSuu').val(),
                NoziKakou: $('#NoziKakou').val(),
                NoziSumi: $('#NoziSumi').is(':checked') ? 1 : 0,
                NoziGouhanShurui: $('#NoziGouhanShurui').val(),
                NoziGouhanSuu: $('#NoziGouhanSuu').val(),
                TekakouKakou: $('#TekakouKakou').val(),
                TekakouSumi: $('#TekakouSumi').is(':checked') ? 1 : 0,
                TekakouTime: $('#TekakouTime').val(),
                HundeggerKakou: $('#HundeggerKakou').val(),
                HundeggerSumi: $('#HundeggerSumi').is(':checked') ? 1 : 0,
                HundeggerTime: $('#HundeggerTime').val(),
                //Page 4.
                BukkenComment: $('#BukkenComment').val(),
                HiddenUpdateDatetime: $('#HiddenUpdateDatetime').val(),
                UserID: $('#user-id').text(),
            };

            var ret = calltoApiController(url_SaveData, model);
            if (!ret) {
                return false;
            }
            if (ret.MessageID) {
                showMessage(ret);
                return false;
            }

            showMessage(eMode == 'Delete' ? 'I102' : 'I101', function () {
                if (eMode == 'New') {
                    window.location.reload();
                }
                else {
                    location.href = url_previousPage;
                }
            });
        }

        //autocomplete ---------->
        function setAutocomplete(selector, url, key) {
            var ddl = $(selector);
            var target = ddl.attr('aria-labelledby');
            ddl.children().remove();

            if (key != "") {
                var ret = calltoApiController(url, key);
                if (!ret) {
                    return;
                }
                if (ret.MessageID) {
                    showMessage(ret);
                    return;
                }
                ret.forEach(function (item) {
                    var data = item.DisplayText;
                    ddl.append('<li class="autocomplete" data-autocomplete="' + data + '" data-target="' + target + '"><a href="#">' + data + '</a></li>');
                });
            }
        }
        $(document).on('ontouched click', '.autocomplete', function () {
            var text = $(this).data('autocomplete');
            var target = $(this).data('target');
            $('input[name="' + target + '"]').val(text).focus();
        });

        //upload files ---------->
        function clearFileInfo() {
            $('#fileMsg').hide().nextAll().remove();
            formData = new FormData();
            fileCount = 0;
        }

        function sendFileToServer(url, fileData, status, callback) {
            var jqXHR = $.ajax({
                xhr: function () {
                    var xhrobj = $.ajaxSettings.xhr();
                    if (xhrobj.upload) {
                        xhrobj.upload.addEventListener('progress', function (event) {
                            var percent = 0;
                            var position = event.loaded || event.position;
                            var total = event.total;
                            if (event.lengthComputable) {
                                percent = Math.ceil(position / total * 100);
                            }
                            status.setProgress(percent);
                        }, false);
                    }
                    return xhrobj;
                },
                url: url,
                type: "POST",
                contentType: false,
                processData: false,
                cache: false,
                data: fileData,
                success: function (result) {
                    status.setProgress(100);
                    callback(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

            status.setAbort(jqXHR);
        }

        function sendMultipleFileToServer(url, fileData, callback) {
            $.ajax({
                url: url,
                type: "POST",
                contentType: false,
                processData: false,
                cache: false,
                data: fileData,
                timeout: 600000,
                headers: {
                    Authorization: getApiAuthorization(),
                },
                success: function (data) {
                    callback(JSON.parse(data));
                },
                error: function (err) {
                    alert(err.status + ":" + err.statusText);
                }
            });
        }

        function createFileStatusbar() {
            this.statusbar = $('<div class="statusbar"></div>');
            this.filename = $('<div class="filename"></div>').appendTo(this.statusbar);
            this.size = $('<div class="filesize"></div>').appendTo(this.statusbar);
            //this.progressBar = $('<div class="progressBar"><div></div></div>');.appendTo(this.statusbar);
            this.remove = $('<div class="remove">削除</div>').appendTo(this.statusbar);
            //this.abort = $("<div class='abort'>Abort</div>");.appendTo(this.statusbar);

            this.setFileNameSize = function (name, size) {
                var sizeStr = "";
                var sizeKB = size / 1024;
                if (parseInt(sizeKB) > 1024) {
                    var sizeMB = sizeKB / 1024;
                    sizeStr = sizeMB.toFixed(2) + " MB";
                }
                else {
                    sizeStr = sizeKB.toFixed(2) + " KB";
                }

                this.filename.html(name);
                this.size.html(sizeStr);
            }
            this.setRemove = function (key) {
                var sb = this.statusbar;
                this.remove.click(function () {
                    formData.delete(key);
                    sb.hide();
                });
            }
            //this.setProgress = function (progress) {
            //    var progressBarWidth = progress * this.progressBar.width() / 100;
            //    this.progressBar.find('div').animate({ width: progressBarWidth }, 10).html(progress + "% ");
            //    if (parseInt(progress) >= 100) {
            //        this.abort.hide();
            //    }
            //}
            //this.setAbort = function (jqxhr) {
            //    var sb = this.statusbar;
            //    this.abort.click(function () {
            //        jqxhr.abort();
            //        sb.hide();
            //    });
            //}
        }
        function dropFiles(files, obj) {
            for (var i = 0; i < files.length; i++) {
                fileCount++;
                var key = 'file' + fileCount.toString();
                formData.append(key, files[i]); 

                var status = new createFileStatusbar();
                obj.after(status.statusbar);
                status.setFileNameSize(files[i].name, files[i].size);
                status.setRemove(key);
                //var fd = new FormData();
                //fd.append('file', files[i]);
                //sendFileToServer(fd, status);
            }
        }

        $('#dragDropArea').on('dragenter', function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).addClass('selected');
        }).on('dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).addClass('selected');
        }).on('dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).addClass('selected');
        }).on('dragleave', function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).removeClass('selected');
        }).on('drop', function (e) {
            e.preventDefault();
            var obj = $('#fileMsg').hide();
            var files = e.originalEvent.dataTransfer.files;
            dropFiles(files, obj);
            $(this).removeClass('selected');
        });

        $('#inputFile').on('change', function (e) {
            var obj = $('#fileMsg').hide();
            var files = $(this).prop('files')
            dropFiles(files, obj);
            $(this).val(null);
        });


        //----------------------->
        $(document).ready(function () {
            addEvents();
            addValidate();
            setScreen();
            if (eMode == 'Delete') {
                btnSave.focus();
            }
            else {
                txtSitenCD.focus();
            }

        });


    </script>
}
