@model Models.InputBukkenShousaiHiuchiModel

@{
    ViewBag.Title = "HiuchiSubEntry";
    Layout = "";
}

@Styles.Render("~/Content/modalForm.css")
<style>
    .HiuchiSubEntry_content {
        width: 1200px;
    }

    #HiuchiSubEntry .detail_content {
        padding-left: 10px;
    }

        /* Override BootStrap　---> */
        #HiuchiSubEntry .detail_content .form-control {
            line-height: 1;
            border-radius: 0;
            height: 33px;
        }

        #HiuchiSubEntry .detail_content .form-control:focus {
            outline: none;
            box-shadow: none;
        }
        /* <--- */

        #HiuchiSubEntry .detail_content label {
            margin-left: 0;
            border: 1px solid #ced4da;
            border-radius: 0;
        }

        #HiuchiSubEntry .detail_content input[type=checkbox] {
            margin: 0;
        }

        #HiuchiSubEntry .detail_content button {
            height: 33px;
            line-height: 1;
        }


    #HiuchiSubEntry .size-sou {
        width: 168px; /* select.size12 */
    }
    #HiuchiSubEntry .size-kakoudate {
        width: 238px; /* select.size19 */
    }
    #HiuchiSubEntry .size-zairyou {
        width: 348px; /*select_size30*/
    }
    #HiuchiSubEntry .size-toukyuu {
        width: 148px; /*select_size10*/
    }
    #HiuchiSubEntry .size-honsuu {
        width: 78px; /*select_size3*/
    }
    #HiuchiSubEntry .size-sumi {
        width: 50px;
    }
    #HiuchiSubEntry .size-pdf {
        width: 80px;
        margin-left: 20px;
        padding-top: 4px;
    }


    #HiuchiSubEntry div.size-sumi {
        height: 33px;
        border: 1px solid #ced4da;
    }
        #HiuchiSubEntry div.size-sumi.blank_sumi {
            border: none;
        }

    #HiuchiSubEntry .blank_sou {
        margin-left: 168px; /* select.size12 */
    }
    #HiuchiSubEntry .blank_kakoudate {
        margin-left: 238px; /* select.size19 */
    }
    #HiuchiSubEntry .blank_pdf {
        margin-left: 100px; /* Same as button of pdf's width + margin-left */
    }

    @@media (max-height: 800px) {
        .modal_body {
            display: none;
        }
        #btnSaveSub {
            display: none;
        }
    }
</style>

<div id="HiuchiSubEntry" class="modal js-modal">
    <div class="modal_bg"></div>
    <div class="modal_content HiuchiSubEntry_content">
        <div class="modal_header">
            <div class="modal_title">
                <h5>火打</h5>
            </div>
            <button type="button" class="modal_close js-modal-close" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal_body">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label class="col-form-label label-title pk">物件番号</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control size8" readonly maxlength="8" id="HiuchiBukkenNO" name="HiuchiBukkenNO"
                           value="@Model.BukkenNO" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label class="col-form-label label-title">物件名</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control size16" readonly maxlength="16" id="HiuchiBukkenName" name="HiuchiBukkenName"
                           value="@Model.BukkenName" />
                </div>
            </div>
            <div class="detail_content">
                <div class="d-flex flex-row">
                    <label class="col-form-label label-title size-sou require">層</label>
                    <label class="col-form-label label-title size-kakoudate">加工日</label>
                    <label class="col-form-label label-title size-zairyou">材料</label>
                    <label class="col-form-label label-title size-toukyuu">等級</label>
                    <label class="col-form-label label-title size-honsuu require">本数</label>
                    <label class="col-form-label label-title size-sumi">済</label>
                </div>
                <div id="div1">
                    <div class="d-flex flex-row align-items-center">
                        @Html.DropDownListFor(
                        model => model.Sou1,
                        new SelectList(Model.SouDropDownListItems, "Value", "DisplayText"),
                        "",
                        new { @class = "form-control size-sou" })
                        <input type="text" class="form-control size-kakoudate" disabled id="Sou1KakouDateTime" name="Sou1KakouDateTime"
                               value="@Model.Sou1KakouDateTime" />
                        <div id="divZairyou11">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou11" name="Zairyou11" value="@Model.Zairyou11">
                        </div>
                        <div id="divToukyuu11">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu11" name="Toukyuu11" value="@Model.Toukyuu11">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu11" name="Honsuu11"
                               value="@Model.Honsuu11" />
                        <div class="size-sumi d-flex align-items-center justify-content-center">
                            <input type="checkbox" id="Sou1Sumi" name="Sou1Sumi" data-dbvalue="@Model.Sou1Sumi" />
                        </div>
                        <button class="btn btn-primary size-pdf" id="btnPdf1" nofocus>PDF</button>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou12">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou12" name="Zairyou12" value="@Model.Zairyou12">
                        </div>
                        <div id="divToukyuu12">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu12" name="Toukyuu12" value="@Model.Toukyuu12">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu12" name="Honsuu12"
                               value="@Model.Honsuu12" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou13">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou13" name="Zairyou13" value="@Model.Zairyou13">
                        </div>
                        <div id="divToukyuu13">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu13" name="Toukyuu13" value="@Model.Toukyuu13">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu13" name="Honsuu13"
                               value="@Model.Honsuu13" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                </div>
                @*--------------------*@
                <br />
                <div id="div2">
                    <div class="d-flex flex-row align-items-center">
                        @Html.DropDownListFor(
                        model => model.Sou2,
                        new SelectList(Model.SouDropDownListItems, "Value", "DisplayText"),
                        "",
                        new { @class = "form-control size-sou" })
                        <input type="text" class="form-control size-kakoudate" disabled id="Sou2KakouDateTime" name="Sou2KakouDateTime"
                               value="@Model.Sou2KakouDateTime" />
                        <div id="divZairyou21">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou21" name="Zairyou21" value="@Model.Zairyou21">
                        </div>
                        <div id="divToukyuu21">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu21" name="Toukyuu21" value="@Model.Toukyuu21">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu21" name="Honsuu21"
                               value="@Model.Honsuu21" />
                        <div class="size-sumi d-flex align-items-center justify-content-center">
                            <input type="checkbox" id="Sou2Sumi" name="Sou2Sumi" data-dbvalue="@Model.Sou2Sumi" />
                        </div>
                        <button class="btn btn-primary size-pdf" id="btnPdf2" nofocus>PDF</button>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou22">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou22" name="Zairyou22" value="@Model.Zairyou22">
                        </div>
                        <div id="divToukyuu22">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu22" name="Toukyuu22" value="@Model.Toukyuu22">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu22" name="Honsuu22"
                               value="@Model.Honsuu22" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou23">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou23" name="Zairyou23" value="@Model.Zairyou23">
                        </div>
                        <div id="divToukyuu23">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu23" name="Toukyuu23" value="@Model.Toukyuu23">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu23" name="Honsuu23"
                               value="@Model.Honsuu23" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                </div>
                @*--------------------*@
                <br />
                <div id="div3">
                    <div class="d-flex flex-row align-items-center">
                        @Html.DropDownListFor(
                        model => model.Sou3,
                        new SelectList(Model.SouDropDownListItems, "Value", "DisplayText"),
                        "",
                        new { @class = "form-control size-sou" })
                        <input type="text" class="form-control size-kakoudate" disabled id="Sou3KakouDateTime" name="Sou3KakouDateTime"
                               value="@Model.Sou3KakouDateTime" />
                        <div id="divZairyou31">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou31" name="Zairyou31" value="@Model.Zairyou31">
                        </div>
                        <div id="divToukyuu31">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu31" name="Toukyuu31" value="@Model.Toukyuu31">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu31" name="Honsuu31"
                               value="@Model.Honsuu31" />
                        <div class="size-sumi d-flex align-items-center justify-content-center">
                            <input type="checkbox" id="Sou3Sumi" name="Sou3Sumi" data-dbvalue="@Model.Sou3Sumi" />
                        </div>
                        <button class="btn btn-primary size-pdf" id="btnPdf3" nofocus>PDF</button>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou32">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou32" name="Zairyou32" value="@Model.Zairyou32">
                        </div>
                        <div id="divToukyuu32">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu32" name="Toukyuu32" value="@Model.Toukyuu32">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu32" name="Honsuu32"
                               value="@Model.Honsuu32" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou33">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou33" name="Zairyou33" value="@Model.Zairyou33">
                        </div>
                        <div id="divToukyuu33">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu33" name="Toukyuu33" value="@Model.Toukyuu33">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu33" name="Honsuu33"
                               value="@Model.Honsuu33" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                </div>
                @*--------------------*@
                <br />
                <div id="div4">
                    <div class="d-flex flex-row align-items-center">
                        @Html.DropDownListFor(
                        model => model.Sou4,
                        new SelectList(Model.SouDropDownListItems, "Value", "DisplayText"),
                        "",
                        new { @class = "form-control size-sou" })
                        <input type="text" class="form-control size-kakoudate" disabled id="Sou4KakouDateTime" name="Sou4KakouDateTime"
                               value="@Model.Sou4KakouDateTime" />
                        <div id="divZairyou41">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou41" name="Zairyou41" value="@Model.Zairyou41">
                        </div>
                        <div id="divToukyuu41">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu41" name="Toukyuu41" value="@Model.Toukyuu41">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu41" name="Honsuu41"
                               value="@Model.Honsuu41" />
                        <div class="size-sumi d-flex align-items-center justify-content-center">
                            <input type="checkbox" id="Sou4Sumi" name="Sou4Sumi" data-dbvalue="@Model.Sou4Sumi" />
                        </div>
                        <button class="btn btn-primary size-pdf" id="btnPdf4" nofocus>PDF</button>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou42">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou42" name="Zairyou42" value="@Model.Zairyou42">
                        </div>
                        <div id="divToukyuu42">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu42" name="Toukyuu42" value="@Model.Toukyuu42">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu42" name="Honsuu42"
                               value="@Model.Honsuu42" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="blank_sou"></div>
                        <div class="blank_kakoudate"></div>
                        <div id="divZairyou43">
                            <input class="typeahead form-control size-zairyou" type="text" maxlength="30" autocomplete="off"
                                   id="Zairyou43" name="Zairyou43" value="@Model.Zairyou43">
                        </div>
                        <div id="divToukyuu43">
                            <input class="typeahead form-control size-toukyuu" type="text" maxlength="10" autocomplete="off"
                                   id="Toukyuu43" name="Toukyuu43" value="@Model.Toukyuu43">
                        </div>
                        <input type="text" class="form-control size-honsuu" maxlength="3" id="Honsuu43" name="Honsuu43"
                               value="@Model.Honsuu43" />
                        <div class="blank_sumi size-sumi"></div>
                        <div class="blank_pdf"></div>
                    </div>
                </div>
            </div>
            <div>
                <input type="file" id="inputFileHiuchi" style="display:none;">
            </div>
        </div>
        <div class="row">
            <div class="footer-btn mx-auto">
                <button type="button" class="btn btn-info" id="btnFileOpen" nofocus>ファイルを選択</button>
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <button type="button" class="btn btn-secondary" id="btnClose" nofocus>閉じる</button>
                <button type="button" class="btn btn-primary" id="btnSaveSub">登録</button>
            </div>
        </div>
    </div>
</div>
