@model Models.InputBukkenShousaiTekakouModel

@{
    ViewBag.Title = "InputBukkenShousai Tekakou";
    Layout = "";
}

<div id="TekakouSubEntry" class="modal js-modal">
    <div class="modal_bg"></div>
    <div class="modal_content TekakouSubEntry_content">
        <div class="modal_header">
            <div class="modal_title">
                <h5>手加工入力</h5>
            </div>
            <button type="button" class="modal_close js-modal-close" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal_body">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title pk">物件番号</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control size8" readonly maxlength="8" id="TekakouBukkenNO" name="TekakouBukkenNO"
                           value="@Model.BukkenNO" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label label-title">物件名</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control size16" readonly maxlength="16" id="TekakouBukkenName" name="TekakouBukkenName"
                           value="@Model.BukkenName" />
                </div>
            </div>
            <div class="detail_content">
                <div class="d-flex flex-row">
                    <label class="col-form-label label-title non-responsive border size-kakoutype">加工種</label>
                    <label class="col-form-label label-title non-responsive border size-honsuu">本数</label>
                    <label class="col-form-label label-title non-responsive border size-unittime">単位時間</label>
                    <label class="col-form-label label-title non-responsive border size-time">時間</label>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">化粧（長さ4m以下、幅20cm以下）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu1" name="TekakouHonsuu1"
                           value="@Model.TeKakou1Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime1"></span>
                    <span class="size-time" id="TekakouTime1"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">化粧（長さ4m超または幅20cm超）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu2" name="TekakouHonsuu2"
                           value="@Model.TeKakou2Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime2"></span>
                    <span class="size-time" id="TekakouTime2"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">修正刻み（長さ4m以下）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu3" name="TekakouHonsuu3"
                           value="@Model.TeKakou3Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime3"></span>
                    <span class="size-time" id="TekakouTime3"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">修正刻み（長さ4m超）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu4" name="TekakouHonsuu4"
                           value="@Model.TeKakou4Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime4"></span>
                    <span class="size-time" id="TekakouTime4"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">丸田柱・梁（長さ4m以下）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu5" name="TekakouHonsuu5"
                           value="@Model.TeKakou5Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime5"></span>
                    <span class="size-time" id="TekakouTime5"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">丸田柱・梁（長さ4m超）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu6" name="TekakouHonsuu6"
                           value="@Model.TeKakou6Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime6"></span>
                    <span class="size-time" id="TekakouTime6"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">平柱（長さ4m以下）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu7" name="TekakouHonsuu7"
                           value="@Model.TeKakou7Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime7"></span>
                    <span class="size-time" id="TekakouTime7"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-kakoutype">平柱（長さ4m超）</span>
                    <input type="text" class="form-control size-honsuu" maxlength="3" id="TekakouHonsuu8" name="TekakouHonsuu8"
                           value="@Model.TeKakou8Honsuu" />
                    <span class="size-unittime" id="TekakouUnitTime8"></span>
                    <span class="size-time" id="TekakouTime8"></span>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <span class="size-total">【合計】</span>
                    <span class="size-time" id="TotalTekakouTime"></span>
                </div>
            </div>
            <div class="hidden-area">
                <input type="text" hidden id="HiddenTekakouUpdateDateTime" name="HiddenTekakouUpdateDateTime" value="@Model.HiddenUpdateDateTime" />
            </div>
            <br/>
            <div class="row">
                <div class="footer-btn mx-auto">
                    <button type="button" class="btn btn-secondary" id="btnClose" nofocus>閉じる</button>
                    <button type="button" class="btn btn-primary" id="btnSaveTekakou">登録</button>
                </div>
            </div>
        </div>
    </div>
</div>
