@{
    string appPath = System.Web.Hosting.HostingEnvironment.ApplicationVirtualPath;
    if (appPath == "/")
    {
        appPath = "";
    }
    string userId = "";
    string userName = "nameless";
    if (Session["UserInfo"] != null)
    {
        userId = Session["UserInfo"].ToString().Split('_')[0];
        userName = Session["UserInfo"].ToString().Split('_')[1];
    }
    string categoryID = "";
    if (Session["MenuState"] != null)
    {
        categoryID = Session["MenuState"].ToString();
    }
    var url_SaveMenuState = @Url.Action("SaveMenuState", "Home");
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Okamei Production Web System">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OkameiProduction</title>
    <link rel="icon" href="@Url.Content("~/Images/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Images/apple-touch-icon.png")" sizes="180x180">
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.4/fc-4.0.1/datatables.min.css" />
    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/lib/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="nav-toggle">
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <aside class="nav-sidebar scroll">
        <nav class="nav-menu">
            <ul id="accordionOwner">
                <li class="nav-menu-category">
                    <a id="home" href="~/Home/Index">ホーム</a>
                </li>
                <li class="nav-menu-category">
                    <a data-toggle="collapse" href="#category01" aria-controls="category01" aria-expanded="false">物件詳細登録</a>
                    <ul id="category01" class="collapse" data-parent="#accordionOwner">
                        <li><a href="~/InputBukkenShousai/Entry?Mode=New">物件詳細登録</a></li>
                    </ul>
                </li>
                <li class="nav-menu-category">
                    <a data-toggle="collapse" href="#category02" aria-controls="category02" aria-expanded="false">物件情報</a>
                    <ul id="category02" class="collapse" data-parent="#accordionOwner">
                        <li><a href="~/BukkenItiran/SetCondition">物件一覧</a></li>
                        <li><a href="~/KadouKeikaku/SetCondition">稼働計画</a></li>
                        <li><a href="~/HundeggerItiran/SetCondition">フンデガー</a></li>
                        <li><a href="~/HiuchiItiran/SetCondition">火打</a></li>
                        <li><a href="~/MoulderItiran/SetCondition">モルダー</a></li>
                        <li><a href="~/CadInputStaff/SetCondition">CAD入力者担当状況</a></li>
                        <li><a href="~/FusezuMiteisyutu/SetCondition">伏図未提出物件</a></li>
                        <li><a href="~/CadStaffMitei/SetCondition">担当者未定物件</a></li>
                        <li><a href="~/InputStep/SetCondition">入力段階別</a></li>
                        <li><a href="~/SMitumoriKanri/SetCondition">S見積管理表</a></li>
                        <li><a href="~/EigyouJisseki/SetCondition">営業実績･見込み</a></li>
                        <li><a href="~/UnsouSoukoire/SetCondition">運送会社倉庫入</a></li>
                        <li><a href="~/KubunTaisyou/SetCondition">区分対象物件</a></li>
                    </ul>
                </li>
                <li class="nav-menu-category">
                    <a data-toggle="collapse" href="#category03" aria-controls="category03" aria-expanded="false">マスタメンテ</a>
                    <ul id="category03" class="collapse" data-parent="#accordionOwner">
                        <li><a href="~/HanyouKensaku/DisplayResult">汎用マスタ検索</a></li>
                        <li><a href="~/HanyouMasterMaintenance/SetCondition">汎用マスタメンテ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <div id="globalContainer" class="global-container">
        <header class="global-header">
            <div class="global-header-logo">
                <img src="@Url.Content("~/Images/brandlogo.png")" alt="Logo">
            </div>
            <div class="global-header-user dropdown">
                <a href="#" class="dropdown-toggle active form-inline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons">account_circle</span>
                    <span id="user-id" hidden>@userId</span>
                    <span id="user-name">@userName</span>
                </a>
                <div class="dropdown-menu">
                    <a href="~/User/Login"><i class="fa fa-power-off"></i>サインアウト</a>
                </div>
            </div>
        </header>
        <main id="globalSubContainer" class="global-sub-container container-fluid">
            @RenderBody()
        </main>
    </div><!-- /#container -->
    @Scripts.Render("~/bundles/lib/jquery")
    @Scripts.Render("~/bundles/lib/bootstrap")
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.4/fc-4.0.1/datatables.min.js"></script>
    @Scripts.Render("~/bundles/common")
    <script type="text/javascript">
        gApplicationPath = '@appPath';
        (function ($) {
            $(function () {
                if ('@categoryID') {
                    $('.nav-menu-category a[data-toggle="collapse"][aria-controls="' + '@categoryID' + '"]').click();
                }

                $('.nav-menu-category a[data-toggle="collapse"]').on('click', function () {
                    if ($(this).attr('aria-expanded') == 'true') {
                        //to close(true -> false)
                        calltoApiController('@url_SaveMenuState', { categoryID: '' });
                    }
                    else {
                        calltoApiController('@url_SaveMenuState', { categoryID: $(this).attr('aria-controls') });
                    }
                });

                $('#home').on('click', function () {
                    calltoApiController('@url_SaveMenuState', { categoryID: '' });
                });

                $('.nav-toggle').on('click', function () {
                    $('body').toggleClass('closeMenu');
                });
            });
        })(jQuery);

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
