<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Okamei Production Web System">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="@Url.Content("~/Images/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Images/apple-touch-icon.png")" sizes="180x180">
    <link rel="shortcut icon" href="@Url.Content("~/Images/brandlogo.png")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/bootstrap.min.css")" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/logincss")
    @Scripts.Render("~/bundles/lib/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/lib/jquery")
    @Scripts.Render("~/bundles/lib/bootstrap")
    @Scripts.Render("~/bundles/login")
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
