@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-pic js-tilt" data-tilt>
                <img src="@Url.Content("~/images/brandlogo.png")" alt="IMG">
            </div>
            <form id="f1" method="post" action="@Url.Action("Login", "User")">
                <span class="login-form-title">
                    生産管理システム
                </span>

                <div class="wrap-input-login">
                    <input id="UserID" class="input-login" type="text" name="UserID" required placeholder="User ID" maxlength="40" autocomplete="off">
                    <span class="symbol-input-login">
                        <i class="fas fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input-login">
                    <input id="Password" class="input-login" type="password" name="Password" required placeholder="Password" maxlength="40" autocomplete="off">
                    <span class="symbol-input-login">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login-form-btn">
                    <button type="submit" id="btnLogin" class="login-form-btn">
                        ログイン
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
        $(document).ready(function () {
            $("#UserID").focus();

            $("#f1").submit(function (e) {
                if ($('#UserID').val().trim() == '' || $('#Password').val().trim() == '') {
                    return false;
                }
                return true;
            });

            if ('@ViewBag.IsPostback' == "true")
            {
                var msg = { MessageID: '@ViewBag.MessageID', MessageText1: '@ViewBag.MessageText1', MessageIcon: '@ViewBag.MessageIcon'};
                showMessage(msg, function () {
                    $('#UserID').val('');
                    $('#Password').val('');
                    return false;
                });
            }
        });

        function showMessage(msg, callback) {
            Swal.fire({
                icon: msg.MessageIcon,
                title: msg.MessageID,
                text: msg.MessageText1,
            }).then(callback);
        }

</script>
}