
@{
    ViewBag.Title = "HiuchiItiran";
}
<style>
    .table th {
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #ffff66;
    }

    #tblHiuchiItiran tbody td {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #tblHiuchiItiran .Nouki {
        min-width: 50px;
    }

    #tblHiuchiItiran .UnsouKuraireDate {
        min-width: 50px;
    }

    #tblHiuchiItiran .BukkenNO {
       min-width: 100px;
    }

    #tblHiuchiItiran .BukkenName {
        min-width: 120px;
    }

    #tblHiuchiItiran .KoumutenName {
        min-width: 210px;
    }


    #tblHiuchiItiran .KakouTubosuu {
        text-align: right;
    }

    #tblHiuchiItiran .TantouSitenName {
        min-width: 50px;
    }

    #tblHiuchiItiran .TantouEigyouName {
        min-width: 50px;
    }

    #tblHiuchiItiran .TantouCadName {
        min-width: 50px;
    }

    #tblHiuchiItiran .FusezuTeishutuDate {
        min-width: 60px;
    }

    #tblHiuchiItiran .ShouninKijitu {
        min-width: 60px;
    }

    #tblHiuchiItiran .KakouShouninDate {
        min-width: 60px;
    }

    #tblHiuchiItiran .SijiKikitu {
        min-width: 60px;
    }

    #tblHiuchiItiran .KakouNissuu {
        min-width: 60px;
        text-align: right;
    }

    #tblHiuchiItiran .UpdateDateTime {
        min-width: 60px;
    }

    #tblHiuchiItiran .KanamonoName {
        min-width: 70px;
    }

    #tblHiuchiItiran .NyuuryokusakiName {
        min-width: 60px;
    }

    #tblHiuchiItiran .TokuchuuzaiUmu {
        min-width: 50px;
    }

    #tblHiuchiItiran .SinchokuJoukyou {
        min-width: 90px;
    }

    #tblHiuchiItiran .delete-td {
        min-width: 30px;
    }

    #tblHiuchiItiran .number-align-right {
        float: right;
    }

    td, th {
        font-size: 14px !important;
    }

    #tblHiuchiItiran .ShitenName {
        min-width: 50px;
    }

    #tblHiuchiItiran .eigyouName {
        min-width: 50px;
    }

    #tblHiuchiItiran .cadName {
        min-width: 50px;
    }

    #tblHiuchiItiran .KubunName {
        min-width: 250px
    }
    #tblHiuchiItiran .SouName {
        min-width: 50px
    }
    #tblHiuchiItiran .SouDateTime {
        min-width: 120px
    }
    #tblHiuchiItiran .Zairyou {
        min-width: 120px
    }
    #tblHiuchiItiran .Toukyuu {
        min-width: 100px
    }
    #tblHiuchiItiran .Honsuu {
        min-width: 50px
    }
    #tblHiuchiItiran .Export {
        min-width: 50px
    }
    #tblHiuchiItiran .btn-primary {
        min-width: 50px;
        vertical-align: middle;
        max-height: 25px;
        line-height: 15px;
    }
    .btn{
        margin-top:0px !important;
    }

    
</style>

<h4>火打一覧</h4>
<div id="main" class="main-content">
    <table class='table table-bordered' id="tblHiuchiItiran">
        <thead>
            <tr>
                <th>出荷</th>
                <th>物件番号</th>
                <th>物件名</th>
                <th>層</th>
                <th>加工日</th>
                <th>材料</th>
                <th>等級</th>
                <th>本数</th>
                <th>輸出</th>
            </tr>
        </thead>
        <tbody>

            @{
                var columns = ViewBag.Data.Columns;
            }

            @foreach (System.Data.DataRow row in ViewBag.Data.Rows)
            {
                <tr>
                    @{
                        var count = row.ItemArray.Count();
                        var items = row.ItemArray;
                        var bukkenNo = row["BukkenNO"].ToString();
                    }
                    @for (var i = 0; i < count; i++)
                    {
                        <td class="@columns[i].Caption">
                            @if (columns[i].Caption == "BukkenName")
                            {
                                @Html.ActionLink((string)items[i], "Entry", "InputBukkenShousai", new { Mode = "Edit", BukkenNO = bukkenNo }, new { @class = "edit-link" })
                            }
                            else if (columns[i].Caption == "Honsuu")
                            {
                                <span class="number-align-right">
                                    @items[i]
                                </span>
                            }
                            else if (columns[i].Caption == "Export")
                            {
                                 <button type="button" class="btn btn-primary">PDF </button>
                            }
                            else
                            {
                                @items[i]
                            }

                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
    <div class="form-group row">
        <div class="footer-btn mx-auto">
            <button type="button" id="btnReturn" class="btn btn-secondary">戻る</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnReturn').click(function () {
                location.href = '@Url.Action("Hiuchi", "HiuchiItiran")';
            });

            bindDataTables($('#tblHiuchiItiran'));
        });

    </script>
}