@model Models.SmitumoriKanriModel

@{
    ViewBag.Title = "SmitumoriKanriList";
}

<style>
    .table th:nth-child(6) {
        text-align: left;
    }

    .table th {
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #ffff66;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
    }

    .table tbody td {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 14px;
    }

    #tblSmitumoriKanri .SagyouDate,
    #tblSmitumoriKanri .KaesiYoteiDate,
    #tblSmitumoriKanri .TantouSiten,
    #tblSmitumoriKanri .TantouEigyou {
        min-width: 100px;
    }

    #tblSmitumoriKanri .TantouCad {
        min-width: 150px;
    }

    #tblSmitumoriKanri .BukkenName,
    #tblSmitumoriKanri .KoumutenName {
        line-break: anywhere;
        min-width: 250px;
        max-width: 250px;
    }

    #tblSmitumoriKanri .KakoutuboSuu {
        min-width: 80px;
        text-align: right;
    }

    #tblSmitumoriKanri .SMitumoriCounter {
        display: none;
    }

    #tblSmitumoriKanri .delete-td {
        text-align: center;
        min-width: 50px;
        white-space: nowrap;
    }
</style>

<h4>S見積管理表</h4>
<div id="main" class="main-content">
    <table class='table table-bordered' id="tblSmitumoriKanri">
        <thead>
            <tr>
                <th>作業日</th>
                <th>担当</th>
                <th>物件名</th>
                <th>工務店</th>
                <th>坪数</th>
                <th>支店</th>
                <th>営業</th>
                <th>返し予定日</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var columns = ViewBag.Data.Columns;
            }

            @foreach (System.Data.DataRow row in ViewBag.Data.Rows)
            {
                <tr>
                    @{
                        var count = row.ItemArray.Count();
                        var items = row.ItemArray;
                        var SMitumoriCounter = row["SMitumoriCounter"].ToString();
                    }
                    @for (var i = 0; i < count; i++)
                    {
                        if (@columns[i].Caption != "SMitumoriCounter")
                        {
                            if (@columns[i].Caption == "TantouCad")
                            {
                                <td class="@columns[i].Caption">
                                    @Html.DropDownListFor(
                                    model => model.TantouCad,
                                    new SelectList(Model.TantouCadDropDownListItems, "Value", "DisplayText"),
                                    "",
                                    new { @class = "form-control" })
                                </td>
                            }
                            else if (@columns[i].Caption == "KoumutenName")
                            {
                                <td class="@columns[i].Caption">
                                    @Html.DropDownListFor(
                                    model => model.KoumutenName,
                                    new SelectList(Model.KoumutenDropDownListItems, "Value", "DisplayText"),
                                    "",
                                    new { @class = "form-control" })
                                </td>
                            }
                            else if (@columns[i].Caption == "TantouSiten")
                            {
                                <td class="@columns[i].Caption">
                                    @Html.DropDownListFor(
                                    model => model.TantouSiten,
                                    new SelectList(Model.TantouSitenDropDownListItems, "Value", "DisplayText"),
                                    "",
                                    new { @class = "form-control" })
                                </td>
                            }
                            else if (@columns[i].Caption == "TantouEigyou")
                            {
                                <td class="@columns[i].Caption">
                                    @Html.DropDownListFor(
                                    model => model.TantouEigyou,
                                    new SelectList(Model.TantouEigyouDropDownListItems, "Value", "DisplayText"),
                                    "",
                                    new { @class = "form-control" })
                                </td>
                            }
                            else
                            {
                                <td class="@columns[i].Caption">
                                    @items[i]
                                </td>
                            }
                        }
                    }
                    <td class="delete-td">
                        <button type="button" class="btn btn-link delete-link" onclick="DeleteData('@SMitumoriCounter')">削除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group row">
        <div class="footer-btn mx-auto">
            <button type="button" id="btnReturn" class="btn btn-secondary">戻る</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnReturn').click(function () {
                location.href = '@Url.Action("SetCondition", "SmitumoriKanri")';
            });

            var t = bindDataTables($('#tblSmitumoriKanri'));
        });

        function DeleteData(SMitumoriCounter) {
            var model = {
                SMitumoriCounter: SMitumoriCounter
            }
            alert(SMitumoriCounter);
        }
    </script>
}
