@model Models.KadouKeikakuModel

@{
    ViewBag.Title = "KadouKeikakuCondition";
    var serverDate = ViewBag.ServerDate;
}

<h4 class="page-title">稼働計画</h4>
<div id="main" class="main-content">

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">支店</label>
        </div>
        <div class="col-sm-10">
            @Html.DropDownListFor(
            model => model.TantouSitenCD,
            new SelectList(Model.TantouSitenDropDownListItems, "Value", "DisplayText"),
            "全社",
            new { @class = "form-control size50" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">物件指定</label>
        </div>
        <div class="col-sm-10">
            <div class="custom-control custom-radio">
                <input id="BukkenSiteiOption1" name="BukkenSiteiOption" type="radio" value="1" checked>
                <label for="BukkenSiteiOption1" class="label-custom-radio">全物件</label>
                <input id="BukkenSiteiOption2" name="BukkenSiteiOption" type="radio" value="2">
                <label for="BukkenSiteiOption2" class="label-custom-radio">自分関連の物件</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">納期</label>
        </div>
        <div class="col-sm-10 form-inline">
            <input type="text" id="NoukiStart" name="NoukiStart" class="form-control size10" maxlength="10" />
            <span>&nbsp;～&nbsp;</span>
            <input type="text" id="NoukiEnd" name="NoukiEnd" class="form-control size10" maxlength="10" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">担当営業マン</label>
        </div>
        <div class="col-sm-10">
            @Html.DropDownListFor(
            model => model.TantouEigyouCD,
            new SelectList(Model.TantouEigyouDropDownListItems, "Value", "DisplayText"),
            "",
            new { @class = "form-control size50" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">担当CADマン</label>
        </div>
        <div class="col-sm-10">
            @Html.DropDownListFor(
            model => model.TantouCadCD,
            new SelectList(Model.TantouCadDropDownListItems, "Value", "DisplayText"),
            "",
            new { @class = "form-control size50" })
        </div>
    </div>
   
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label label-title">済チェック</label>
        </div>
        <div class="col-sm-10">
            <div class="custom-check">
                <input id="OukazaiSumi" name="OukazaiSumi" type="checkbox" value="1">
                <label for="OukazaiSumi" class="label-custom-check">横</label>
                <input id="HasirazaiSumi" name="HasirazaiSumi" type="checkbox" value="1">
                <label for="HasirazaiSumi" class="label-custom-check">柱</label>
                <input id="HagarazaiSumi" name="HagarazaiSumi" type="checkbox" value="1">
                <label for="HagarazaiSumi" class="label-custom-check">羽</label>
                <input id="YukaSumi" name="YukaSumi" type="checkbox" value="1">
                <label for="YukaSumi" class="label-custom-check">床</label>
                <input id="NoziSumi" name="NoziSumi" type="checkbox" value="1">
                <label for="NoziSumi" class="label-custom-check">野</label>
                <input id="KabeSumi" name="KabeSumi" type="checkbox" value="1">
                <label for="KabeSumi" class="label-custom-check">壁</label>
                <input id="HiuchiSumi" name="HiuchiSumi" type="checkbox" value="1">
                <label for="HiuchiSumi" class="label-custom-check">火</label>
                <input id="TekakouSumi" name="TekakouSumi" type="checkbox" value="1">
                <label for="TekakouSumi" class="label-custom-check">手</label>
                <input id="HundeggerSumi" name="HundeggerSumi" type="checkbox" value="1">
                <label for="HundeggerSumi" class="label-custom-check">フ</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="main-content-footer mx-auto">
            <button type="button" id="btnReturn" class="btn btn-secondary" nofocus>戻る</button>
            <button type="button" id="btnDisplay" class="btn btn-primary active">表示</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnReturn').click(function () {
                showConfirmMessage("Q004", function () {
                    window.location.reload();
                });
            });

            $('#btnDisplay').click(function () {
                if (checkErrorOnSave()) {
                    //showConfirmMessage("Q201", btnDisplayClick);
                    btnDisplayClick();
                }
            });
              //date
            setDateTypeValidate('#NoukiStart')
            setDateTypeValidate('#NoukiEnd')
            //compare date
            setCompareDateValidate('#NoukiEnd', '#NoukiStart')
            //is half-width


            $('#NoukiStart').val('@serverDate');
            $('#TantouSitenCD').focus();

        });

        function btnDisplayClick() {
            var model =
            {

                TantouSitenCD: $('#TantouSitenCD').val(),
                BukkenSiteiOption: $('input[name=BukkenSiteiOption]:checked').val(),
                NoukiStart: $('#NoukiStart').val(),
                NoukiEnd: $('#NoukiEnd').val(),
                TantouEigyouCD: $('#TantouEigyouCD').val(),
                TantouCadCD: $('#TantouCadCD').val(),
                OukazaiSumi: $('input[name=OukazaiSumi]:checked').val(),
                HasirazaiSumi: $('input[name=HasirazaiSumi]:checked').val(),
                HagarazaiSumi: $('input[name=HagarazaiSumi]:checked').val(),
                YukaSumi: $('input[name=YukaSumi]:checked').val(),
                NoziSumi: $('input[name=NoziSumi]:checked').val(),
                KabeSumi: $('input[name=KabeSumi]:checked').val(),
                HiuchiSumi: $('input[name=HiuchiSumi]:checked').val(),
                TekakouSumi: $('input[name=TekakouSumi]:checked').val(),
                HundeggerSumi: $('input[name=HundeggerSumi]:checked').val(),
                UserID: $('#user-id').text()
            };

            var result = calltoApiController('@Url.Action("ExistsDisplayResult", "api/KadouKeikakuApi")', model);
            if (!result) {
                return false;
            }
            if (result.MessageID) {
                showMessage(result);
                return false;
            }

            location.href = '@Url.Action("DisplayResult", "KadouKeikaku")' + querySerialize(model);
            return true;
        }

    </script>
}
